spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: payment-service
              uri: ${PAYMENT_SERVICE_URL:http://localhost:8081}
              predicates:
                - Path=/payments/**

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,env,loggers,modulith,prometheus,info
  endpoint:
    env:
      show-values: ALWAYS
  tracing:
    sampling:
      probability: 1.0
    enabled: true
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_ENDPOINT:http://localhost:9411/api/v2/spans}
