spring:
  application:
    name: payment-service

server:
  port: 8081
    
management:
  endpoints:
    web:
      exposure:
        include: health,env,loggers,modulith,prometheus,info
  endpoint:
    env:
      show-values: ALWAYS
  tracing:
    sampling:
      probability: 1.0
    enabled: true
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_ENDPOINT:http://localhost:9411/api/v2/spans}